{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Connect</h1>
    <div class="container">
        <div class="row col-sm-6 center">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="inputEmail">Email</label>

                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                           required autofocus>
                </div>

                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" class="form-control" id="inputPassword"
                           placeholder="Entry password" required>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">
                <button type="submit" class="btn btn-primary mb-4">Connection</button>

                <p> Not registered ? <a href="{{ path('security_registration') }}">click here </a></p>

                <p><a href="{{ path('app_forgotten_password') }}"> Forgot password?</a></p>
            </form>
        </div>
    </div>

{% endblock %}
