{% extends 'base.html.twig' %}

{% block body %}

    <h3>Registration on website</h3>

    {{ form_start(form) }}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.name, {'label':'Username', 'attr': {'placeholder': 'Your name'}}) }}
                {{ form_row(form.email, {'label': 'email', 'attr': {'placeholder': 'entry your email'}}) }}
                {{ form_row(form.plainPassword) }}
            </div>
        </div>
        <button type="submit" class="btn btn-success">Registration !</button>
    </div>
    {{ form_end(form) }}

{% endblock %}