{% extends 'base.html.twig' %}

{% block title %}Figure index{% endblock %}

{% block body %}
    <main role="main">
        <!-- JUMBOTRON -->
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Snow Tricks</h1>
                <p class="lead">Snowboard tricks are aerials or maneuvers performed on snowboards for fun, or in
                    competitions.</p>
                <div class="navarrow bottomright text-white">
                    <a class="anchor-scroll" href="#trick"
                       data-class-to="trick" data-on-scroll="blur-effect">
                        <i class="fas fa-arrow-circle-down"></i>
                    </a>
                </div>
            </div>
        </div><!-- END JUMBOTRON -->

        <!-- LISTE FIGURES -->
        <div class="container-fluid trick py-5 bg-light" id="trick">
            <div class="row all-figures">
                {% for figure in figures %}
                    <div class="col-md-3 one-figure"><!-- FIGURE -->
                        <div class="card mb-4 box-shadow">
                            <div class="embed-responsive embed-responsive-16by9">
                                {% if figure.figureImages|first %}
                                    <img class="card-img-top embed-responsive-item"
                                         src="{{ asset('uploads/photos/' ~ figure.figureImages|first) }}"
                                         alt="Card image cap">
                                {% else %}
                                    <img class="card-img-top embed-responsive-item"
                                         src="{{ asset('images/exemple.jpeg') }}" alt="Card image cap">
                                {% endif %}
                            </div>

                            <div class="card-body">
                                <div class="row justify-content-around">
                                    <strong><a href="{{ path('figure_show', {'slug': figure.slug}) }}">{{ figure.name }}</a></strong>

                                    {% if app.user %}
                                        <span><a href="{{ path('figure_edit', {'slug': figure.slug}) }}"><i
                                                        class="far fa-edit"></i></a>
                                                        <a href="#deleteModal" role="button" class="btn">
                                                        <i class="fas fa-trash-alt" data-toggle="modal"
                                                           data-target="#deleteModal"
                                                           data-href="{{ path('figure_delete', {'slug': figure.slug, '_token': csrf_token('delete'~figure.slug)}) }}"></i>
                                                        </a>
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div> <!-- END CONTAINER FIGURE-->
        </div>

        <p class="float-right"> <!-- arrow-->
            <a class="anchor-scroll floatnav-bottom floatnav btn-floating btn-lg btn-flat" href="#navbarHeader"
               data-class-to="navbarHeader" data-on-scroll="blur-effect"><i
                        class="fas fa-arrow-circle-up navarrow my-floatnav"></i></a>
        </p>
        </div><!-- END LISTE FIGURES -->
    </main>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this Trick ?</p>
                    <p class="debug-url"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a type="button" href="" class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center"><!-- bouton load more lien js-->
        <div class="col-2">
            <a class="btn btn-outline-primary mb-4" href="#loadMore" id="loadMore">Load More</a>
        </div>
    </div>

{% endblock %}

    {% block custom_scripts %}
        <script type="text/javascript" src="{{ asset('js/deleteModaleHandler.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/homePage.js') }}"></script>
    {% endblock %}
