{% extends 'base.html.twig' %}

{% form_theme formFigure 'bootstrap_4_layout.html.twig' %}
{% block title %}New Figure{% endblock %}

{% block body %}
{% if app.user %}
    <h2>Création d'une figure </h2>

    <a href="{{ path('figure_new' ) }}"></a>
{% endif %}

    {{ form_start(formFigure) }}
    <div class="row">
        <div class="col-sm-6 offset-sm-2">
            {{ form_row(formFigure.name, {'attr': {'placeholder': "Titre de la figure"}}) }}

            {{ form_row(formFigure.category) }}

            {{ form_row(formFigure.description, {'attr': {'placeholder': "description"}}) }}

            {{ form_row(formFigure.files, {'attr': {'placeholder': "images"}}) }}



            <ul class="figureVideos" data-prototype="{{ form_widget(formFigure.figureVideos.vars.prototype)|e('html_attr') }}">

                {% for formVideo in formFigure.figureVideos %}

                    <li>{{ form_row(formVideo.fileName)}}</li>

                    <button class="btn btn-danger btn-sm" form="figureVideosForm">Delete</button>
                {% endfor %}

            </ul>
            <button type="button" class="btn btn-primary add_item_link mb-4" data-collection-holder-class="figureVideos">Add a video</button>


    <button type="submit" class="btn btn-primary mb-4">{{ button_label|default('Validate') }}</button>


    </div>
    </div>
    {{ form_end(formFigure) }}





{% endblock %}

    {% block custom_scripts %}
        <script>
            //TODO gerer deleteButton
            function addFormToCollection($collectionHolderClass) {
                // Get the ul that holds the collection of tags
                var $collectionHolder = $('.' + $collectionHolderClass);

                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');

                // get the new index
                var index = $collectionHolder.data('index');

                var newForm = prototype;
                // You need this only if you didn't set 'label' => false in your tags field in TaskType
                // Replace '__name__label__' in the prototype's HTML to
                // instead be a number based on how many items we have
                // newForm = newForm.replace(/__name__label__/g, index);

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                newForm = newForm.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('<li></li>').append(newForm);
                // Add the new form at the end of the list
                $collectionHolder.append($newFormLi)
            }

            jQuery(document).ready(function() {
                // Get the ul that holds the collection of tags
                var $tagsCollectionHolder = $('ul.figureVideos');
                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)
                $tagsCollectionHolder.data('index', $tagsCollectionHolder.find('input').length);

                $('body').on('click', '.add_item_link', function(e) {
                    var $collectionHolderClass = $(e.currentTarget).data('collectionHolderClass');
                    // add a new tag form (see next code block)
                    addFormToCollection($collectionHolderClass);
                })
            });

        </script>
    {%  endblock%}

