{% extends 'base.html.twig' %}

{% block title %}Figure{% endblock %}

{% block body %}

    <div>
        <div class="position-absolute">
            <a href="{{ path('figure_edit', {'id': figure.id}) }}" class="float-right">
                <i class="far fa-edit"></i>
            </a>

        {% embed "figure/_delete_form.html.twig" %}
            {% block bouton %}
                <button class="btn"><i class="fas fa-trash-alt" data-toggle="modal" data-target="#exampleModal"></i></button>
            {% endblock %}

        {% endembed %}

        </div>

        <img src="{{ asset('images/exemple.jpeg') }}" class="img-fluid w-100" alt="Responsive image">
    </div>
    <div class="container-fluid">

        <div class="row mb-4">
            {% for photo in figure.figureImages %}
            <div class="col-md-2 photo-list embed-responsive-16by9">
                <img src="{{ asset('uploads/photos/' ~ photo)}}" class="img-thumbnail" alt="...">
            </div>
            {% endfor %}
            {% for video in figure.figureVideos %}
            <div class="col-md-2 photo-list">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315"
                            src="{{ video.fileName }}"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>

                    </iframe>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container">

        <article>

            <h2>{{ figure.name }}</h2>

            <div class="content mb-4">
                <h6>{{ figure.description }}</h6>

                <div class="metadata">Ecrit le {{ figure.createdAt | date ('d/m/y') }}
                    à {{ figure.createdAt | date('H:i') }} dans la catégorie {{ figure.category }}
                    {% if figure.updateDate %}

                        modifié le {{ figure.updateDate | date ('d/m/y') }}

                    {% else %}
                        .
                    {% endif %}

                </div>
            </div>
        </article>

    <HR align=center size=50 width="50%">

        <section id="commentaires">
            <div class="container">

                    <form method="post" id="commentform" class="comment-form">
                        <div class="row">
                            <div class="col-sm-6 offset-sm-2">
                                <textarea class="form-control" placeholder="Laissez votre commentaire ici" id="floatingTextarea"></textarea>
                                <label for="floatingTextarea"></label>

                            </div>
                            <div class="col-sm-2">
                                <input name="submit" type="submit" id="submit" class="submit btn btn-block btn-primary my-2"
                                       value="Poster"/>

                            </div>
                        </div>
                    </form>
                </div>

        </section>

    </div>

    <HR align=center size=50 width="50%">

    <div class="comment">
    {% for comment in figure.comments %}
        <div class="row">
            <div class="col-3">
                {{ comment.user }}
                <img class="align-self-start mr-3 " width="60px" height="60px" src="https://robohash.org/YOUR-TEXT.png"
                     alt="Generic placeholder image">
            </div>
            <div class="media">
                <div class="media-body">
                    {{ comment.content | raw }}
                </div>
            </div>
        </div>

    {% endfor %}


</div>
    <a class="btn btn-secondary btn-sm "  href="{{ path('homepage') }}">Back</a>


    </section>



    </div>






{% endblock %}
